.centered-content{

    background-color: #333;
    text-align: center;
    border-radius: 15px;
     color: white;
     margin-top: 20px;
     margin-left: 60px;
     margin-right: 60px;
      margin-bottom: 10px;
    
      padding-bottom: 20px;
      
    padding-top: 10px;
     
            }
          .centered-content h1{
            margin-bottom: 0;
          }
          
          .centered-content h3{
       margin-top: 0;
       color: gray;
          }
          
          
          .links-container a:hover{
        color: yellow;
     }
     .links-container a{
        color: white;
         text-decoration: none;
       
     }