
.box_three{
    height: 100px;
        border: 1px solid sienna;
        background-position: center;
        background-size: cover;
         
        border-radius: 50%;
background-image: url('../assest/whatsapp.jpg');
display: block; margin: 20px auto;
 
    
    margin-top: 20px;
 margin-left: 60px;
 margin-right: 60px;
 
  border-radius: 15px;
 padding-top: 5px;
padding-bottom: 80px;

padding-left: 20px;
   }
   .box_three h2{
    color: gray;
   
   }
   .insidediv {
    border: 1px solid sienna;
    border-radius: 15px;
    background-color: #D1D9E0;
    height: auto;
    margin-right: 15px;    
    margin-left: 5px;
     padding: 10px;   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.insidediv button {
width: auto;    padding: 10px 35px;
    margin: 10px 2px;   
    background-color: rgb(0, 128, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
   }
   .insidediv button:hover {
    transform: translateY(-5px);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}
.insidediv button:active{
    transform: translateY(5px);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}



 .box_four {

  
    border: 1px solid lightgray;
            border-radius: 10px; 
            margin: 40px 60px;  
         padding-top: 0px ;
         padding-left: 20px;
      position: relative;

         height: 870px;

 }
.firstbox{
    background-color: orange;
    border: 1px solid lightgray;
            border-radius: 10px; 
            margin: 40px 60px;  
          padding-left: 20px;
 text-align: center;
         height: 250px;
         width: 200px;

}
.firstbox  h3{
    margin-top: 10px;
      margin-bottom: 0px;
      padding-bottom: 0px;
   }
   .firstbox p {
margin: 0;
     }
     .secondbox{
        background-color: rgb(0, 149, 255);
    border: 1px solid lightgray;
            border-radius: 10px; 
            margin: 0px 60px;  
          padding-left: 20px;
          
 text-align: center;
         height: 250px;
         width: 200px;
     }
     .secondbox  h3{
     margin-top: 10px;
      margin-bottom: 0px;
      padding-bottom: 0px;
   }
   .secondbox p {
margin: 0;
     }

     .therdbox{
        background-color: #a0d2e3;    border: 1px solid rgb(211, 211, 211);
    
            border-radius: 10px; 
            margin: 0px 60px;  
          padding-left: 20px;
          padding-top: 0px;
 text-align: center;
         height: 200px;
         width: 1300px;
     }
     .therdbox h3{
    margin-top: 10px;
      margin-bottom: 0px;
      padding-bottom: 0px;
   }
   .therdbox p {
margin: 0;
     }
     .fourbox{
        background-color: purple;
    border: 1px solid lightgray;
            border-radius: 10px; 
 padding: 20px; text-align: center;
         height: 160px;
         width: 160px;
    position: absolute;
    top: -420px;
    left: 70px;
            }