.boxtwo {
    padding: 20px;
}

.submit {
    background-color: #008000;
    color: #fff;
    text-align: center;
}

footer a {
    color: #ffa500;
    text-decoration: underline;
}

footer a:hover {
    color: #fff;
}
